.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.email{
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.password {
    font-size: 1.2rem;
    text-align: center;
}
